# LLM Settings
MODEL = "xxxxxxxxxxxxxxxxxxxxxxx"
UDAL_PAT = "xxxxxxxxxxxxxxxxxxxxxxx"
BASE_URL = "xxxxxxxxxxxxxxxxxxxxxxx"
LLM_CHAT_ENDPOINT = "xxxxxxxxxxxxxxxxxxxxxxx"
LLM_BATCH_ENDPOINT = "xxxxxxxxxxxxxxxxxxxxxxx"

# Teradata Database Settings
TERADATA_HOST = "xxxxxxxxxxxxxxxxxxxxxxx"
TERADATA_USER = "xxxxxxxxxxxxxxxxxxxxxxx"
TERADATA_PASSWORD = "xxxxxxxxxxxxxxxxxxxxxxx"
TERADATA_DATABASE = "xxxxxxxxxxxxxxxxxxxxxxx"

# MSSQL Database Settings
MSSQL_SERVER = "xxxxxxxxxxxxxxxxxxxxxxx"
MSSQL_DATABASE = "xxxxxxxxxxxxxxxxxxxxxxx"
MSSQL_USER = "xxxxxxxxxxxxxxxxxxxxxxx"
MSSQL_PASSWORD = "xxxxxxxxxxxxxxxxxxxxxxx"
MSSQL_DRIVER = "xxxxxxxxxxxxxxxxxxxxxxx"

# Oracle Database Settings
ORACLE_USER = "xxxxxxxxxxxxxxxxxxxxxxx"
ORACLE_PASSWORD = "xxxxxxxxxxxxxxxxxxxxxxx"
ORACLE_DSN = "xxxxxxxxxxxxxxxxxxxxxxx"

    